<ul class="posts" id="comments">
    {% for comment in comments %}
        <li class="post">
            <div class="profile-thumbnail">
                <a href="{{ url_for('main.profile', username=comment.author.username) }}">
                    <img class="img-rounded profile-thumbnail"
                         src="{{ comment.author.get_pfp(size=40) }}"
                         alt="{{ comment.author.username }} profile picture">
                </a>
            </div>

            <div class="post-date">{{ moment(comment.timestamp).fromNow() }}</div>

            <div class="post-author">
                <a href="{{ url_for('main.profile', username=comment.author.username) }}">
                    {{ comment.author.username }}
                </a>
            </div>

            <div class="post-content">
                {% if comment.disabled %}
                    <i>This comment has been disabled by a moderator.</i><br>
                {% endif %}

                {% if current_user.is_mod() or not comment.disabled %}
                    {{ comment.body_html | safe }}
                {% endif %}
            </div>

            {% if current_user.is_mod() and moderate%}
                <div class="post-footer">
                    <a class="btn btn-primary" href="{{ url_for('main.post', id=comment.post_id) }}#comments">
                        Post
                    </a>

                    {% if comment.disabled %}
                        <a class="btn btn-default"
                           href={{ url_for('main.moderate_comment_enable', id=comment.id, page=page) }}>
                            Enable
                        </a>
                    {% else %}
                        <a class="btn btn-danger"
                           href={{ url_for('main.moderate_comment_disable', id=comment.id, page=page) }}>
                            Disable
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>