<ul class="posts">
    {% for post in posts %}
        <li class="post">
            <div class="profile-thumbnail">
                <a href="{{ url_for('main.profile', username=post.author.username) }}">
                    <img class="img-rounded profile-thumbnail"
                         src="{{ post.author.get_pfp(size=40) }}"
                         alt="{{ post.author.username }} profile picture">
                </a>
            </div>

            <div class="post-date">{{ moment(post.timestamp).fromNow() }}</div>

            <div class="post-author">
                <a href="{{ url_for('main.profile', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
            </div>

            <div class="post-content">
                {% if post.disabled %}
                    <i>This post has been disabled by a moderator.</i>
                {% endif %}
                {% if current_user.is_mod() or not post.disabled %}
                    {% if post.body_html %}
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                {% endif %}

                <div class="post-footer">
                    <a href="{{ url_for('main.post', id=post.id) }}">
                        <span class="label label-default">Get post</span>
                    </a>

                    <a href="{{ url_for('main.post', id=post.id) }}#comments">
                        <span class="label label-primary">{{ post.comments.count() }} Comments</span>
                    </a>

                    {% if current_user == post.author %}
                        <a href="{{ url_for('main.edit_post', id=post.id) }}">
                            <span class="label label-info">Edit</span>
                        </a>
                    {% elif current_user.is_administrator() %}
                        <a href="{{ url_for('main.edit_post', id=post.id) }}">
                            <span class="label label-warning">Edit [ADMIN]</span>
                        </a>
                    {% endif %}

                    {% if post_page %}
                        {% if current_user.can(Permission.LIKE) %}
                            {% if current_user.is_liking(post) %}
                                <a href="{{ url_for('main.unlike_post', id=post.id) }}">
                                    <span class="glyphicon glyphicon-heart"></span>
                                </a>
                            {% else %}
                                <a href="{{ url_for('main.like_post', id=post.id) }}">
                                    <span class="glyphicon glyphicon-heart-empty"></span>
                                </a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>