{% extends 'bootstrap/base.html' %}

{% block title %}
    blog_bit
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="/">blog-bit</a>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>{% block page_header %}{% endblock %}</h1>
        </div>
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}