{% extends 'bootstrap/base.html' %}

{% block title %}
    blog_bit
{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
    <div class="navbar-inverse">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href={{ url_for('main.welcome') }}>blog_bit</a>
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href={{ url_for('main.welcome') }}>Home</a></li>
                    {% if current_user.is_authenticated %}
                        <li><a href={{ url_for('main.profile', username=current_user.username) }}>Profile</a></li>
                    {% endif %}
                    {% if current_user.can(Permission.MODERATE) %}
                        <li><a href={{ url_for('main.moderate') }}>Moderate</a></li>
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ current_user.get_pfp(size=16) }}" alt="{{ current_user.username }} profile picture">
                                {{ current_user.username }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href={{ url_for('main.edit_profile') }}> Edit Profile</a></li>
                                {% if current_user.is_administrator() %}
                                    <li><a href={{ url_for('main.preact_test') }}>Preact test</a></li>
                                {% endif %}
                                <li><a href={{ url_for('auth.logout') }}>Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href={{ url_for('auth.login') }}>Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            {# Flashed messages handling #}
            {% for category, message in get_flashed_messages(with_categories=True) %}
                {% if category == 'success' %}
                    {% set alert_type = "alert alert-success" %}
                {% elif category == 'warning' %}
                    {% set alert_type = "alert alert-warning" %}
                {% elif category == 'error' %}
                    {% set alert_type = "alert alert-danger" %}
                {% else %}
                    {% set alert_type = "alert alert-warning" %}
                {% endif %}

                <div class="{{ alert_type }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}

            {% block page_header %}{% endblock %}
        </div>
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}

{% block preact_script %}
{% endblock %}